* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #022B3A;
}

h1 {
    color: #ffffff;
    font-family: tahoma;
    font-size: 2.5rem;
    text-align: center;
    margin-top: 50px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 50px;
}

.inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 450px;
    height: 450px;
}

.box {
    width: 140px;
    height: 140px;
    border-radius: 5px;
    border: none;
    background-color: #bfdbf7;
    font-size: 3.5rem;
    font-weight: bold;
    color: #022B3A;
    cursor: pointer;
    transition: all .2s ease-in-out;
    box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
}

.box:hover {
    background-color: #C8E0F9;
}

.winner {
    color: #ffffff;
    font-family: tahoma;
    font-size: 1.2rem;
}

.resetBtn {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: none;
    color: #022B3A;
    font-size: 1rem;
    font-weight: 550;
    cursor: pointer;
}